<% layout('/layouts/boilerplate') -%>
<link rel="stylesheet" href="/stylesheet/blogs.css">


<div class="page-container ">
  <h1 class="text-center my-4 all-blogs">All Blogs</h1>
  <div class="page-card__container ">
    <!-- Blog 1 Card -->
    <div class="page-card__article">
      <img src="/images/TN1.png" alt="image" class="page-card__img">
      <div class="page-card__data">
         
         <h2 class="page-card__title">Digital Advertising Design Trends for 2025</h2>
         <span class="page-card__description">Discover 2025's top advertising design trends—minimalism, AI, video ads, and more to boost engagement.</span>
         <a href="/blogs/blog1" class="page-card__button">Read More</a>
      </div>
    </div>

    <!-- Blog 2 Card -->
    <div class="page-card__article">
      <img src="/images/blog1.png" alt="image" class="page-card__img">
      <div class="page-card__data">
         <span class="page-card__description">Explore how web design companies' websites enhance branding with modern design, responsiveness, and user experience.</span>
         <h2 class="page-card__title">The Evolution of the Modern Branding Package</h2>
         <a href="/blogs/blog2" class="page-card__button">Read More</a>
      </div>
    </div>

    <!-- Blog 3 Card -->
    <div class="page-card__article">
      <img src="/images/TN2.png" alt="image" class="page-card__img">
      <div class="page-card__data">
         <span class="page-card__description">Discover how startups can collaborate with web design companies for branding success and seamless websites.</span>
         <h2 class="page-card__title">How Startups Can Collaborate with Web Design Agenciess</h2>
         <a href="/blogs/blog3" class="page-card__button">Read More</a>
      </div>
    </div>
  </div>
</div>
