<div class="d-flex">
    <!-- Sidebar -->
    <div class="sidebar">
        <nav class="nav flex-column">
            <a class="nav-link" href="/admin/dashboard">
                <i class="fas fa-home"></i>
                <div class="small">Dashboard</div>
            </a>
            <a class="nav-link" href="/admin/cms">
                <i class="fas fa-file-alt"></i>
                <div class="small">CMS</div>
            </a>
            <a class="nav-link" href="/admin/crm">
                <i class="fas fa-users"></i>
                <div class="small">CRM</div>
            </a>
            <a class="nav-link" href="/admin/discounts">
                <i class="fas fa-tag"></i>
                <div class="small">Discounts</div>
            </a>
        </nav>
    </div>
</div>
