@font-face {
  font-family: 'Geomatic';
  src: url('/fonts/geomatic/Geomatic-Black.woff2') format('woff2'),
       url('/fonts/geomatic/Geomatic-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
    
    background: #101010 !important;
    color: #fff;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1, h2, h3, h4,h5{
  font-family: 'Geomatic';
    font-weight: bold;
    font-style: normal;
}

p, span, li, .description, .sub-heading, button {
  font-family: 'Montserrat';
  font-weight: 400;
}

html, body {
  width: 100% !important;
    height: 100%;
    overflow-x: hidden;
    /* scrollbar-width: none;  */
    
}

/* body {
-ms-overflow-style: none; 
} */

/* body::-webkit-scrollbar {
display: none; 
} */

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

header {
    position: fixed; /* Make the header fixed */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1050; /* Ensure it's on top of other content */
}

main {
    margin-top: 70px; /* Add margin to offset the fixed navbar */
}

footer {
    margin-top: 50px;
}


#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #181818;
  z-index: 10000; 
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 0.5s ease, visibility 0.5s ease; 
}

#loader img.loader-logo {
  width: 150px; 
  height: auto;
  animation: pulse 1.5s infinite; 
}


#loader.fade-out {
  opacity: 0;
  visibility: hidden;
}


@keyframes pulse {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.8;
  }
}

  
  