body {
    font-family: 'Nunito', sans-serif;
    background: #101010 !important;
    color: #fff;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


html, body {
    height: 100%;
    overflow-x: hidden;
    scrollbar-width: none; /* Hide scrollbar in Firefox */
    
}

body {
-ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
}

body::-webkit-scrollbar {
display: none; /* Hide scrollbar in Chrome, Safari, and Edge */
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

header {
    position: fixed; /* Make the header fixed */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1050; /* Ensure it's on top of other content */
}

main {
    margin-top: 70px; /* Add margin to offset the fixed navbar */
}

footer {
    margin-top: 50px;
}

/* 
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #181818;
  z-index: 10000; 
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 0.5s ease, visibility 0.5s ease; 
}

#loader img.loader-logo {
  width: 150px; 
  height: auto;
  animation: pulse 1.5s infinite; 
}


#loader.fade-out {
  opacity: 0;
  visibility: hidden;
}


@keyframes pulse {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.8;
  }
} */

  
  