.request-section {
    width: 100%;
    height: auto;
    margin-top: 6rem; /* Increased margin for more spacing */
    padding-top: 1rem; /* Optional padding if needed */
}

.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* Smooth scrolling for touch devices */
    
}

h1{
    color: white;
}
.table {
    border-radius: 10px; /* Adjust the value as needed for the desired roundness */
    overflow: hidden; /* Ensures the border-radius is applied properly to the table */
}

