<% layout('/layouts/boilerplate') -%>
<link rel="stylesheet" href="/stylesheet/pricing.css">
<section id="pricing" class="pricing-section py-5">
  <div class="text-center pricing-header">
      <h3 class="fs-2 text-white text-uppercase">Pricing</h3>
  </div>

  <!-- Service Selection Buttons -->
  <div class="d-flex justify-content-center">
      <div class="btn-group pricing-tabs" role="group">
          <button type="button" class="btn service-btn" id="video-editing">Video Editing</button>
          <button type="button" class="btn service-btn" id="web-dev">Web Development</button>
          <button type="button" class="btn service-btn" id="graphic-design">Graphic Design</button>
          <button type="button" class="btn service-btn" id="3d-art">3D Art</button>
          <button type="button" class="btn service-btn" id="digital-marketing">Digital Marketing</button>
      </div>
  </div>

 

  <!-- Pricing Cards -->
  <div class="pricing-container row" id="pricing-cards">
      <!-- Dynamic pricing cards will be generated here -->
  </div>


  <!-- Special Offers Section -->
<div class="special-offers mt-5">
  <div class="special-card">
    <h3>Bundle Discounts</h3>
    <ul>
        <li>Web Development + Graphic Design Package: Save 10%</li>
        <li>3D Art + Video Editing Package: Save 15%</li>
        <li>Complete Digital Suite (Web, Video, 3D, and Graphics): Save 20% when bundling 3+ services</li>
    </ul>
      <button type="button" id="btn"  class="btns special-offer-btn" data-plan="Bundle Discounts">Select Package</button>
  </div>


</div>

</section>



<script src="/javascript/pricing.js"></script>