<% layout('/layouts/boilerplate') -%>
<link rel="stylesheet" href="/stylesheet/form.css">

<div class="container pt-5">
  <section>
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black bg-transparent" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                  <h1 class="text-center h1 fw-bold mb-5 mx-1 mt-4">Select Your Package</h1>
                  <% if (isSpecialOffer) { %>
                    <div class="alert alert-warning text-center">
                      <strong>Special Offer Applied:</strong> <%= selectedPlan %>
                    </div>
                  <% } %>
                  <form class="mx-1 mx-md-4" action="/pricing-form/submit" method="POST">
                    <input type="hidden" name="selectedPlan" value="<%= selectedPlan %>">

                    <div class="d-flex flex-row align-items-center mb-2 input">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" name="fullName" class="form-control bg-transparent text-white" required />
                        <label class="form-label">Full Name</label>
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-2 input">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="email" name="emailAddress" class="form-control bg-transparent text-white" required />
                        <label class="form-label">Email Address</label>
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-2 input">
                      <i class="fas fa-phone fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" name="phoneNumber" class="form-control bg-transparent text-white" required />
                        <label class="form-label">Phone Number</label>
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-2 input">
                        <i class="fas fa-globe fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <select name="country" class="form-control bg-transparent text-white" required>
                            <option value="">Select Country</option>
                            <option value="AF">Afghanistan</option>
                            <option value="AL">Albania</option>
                            <option value="DZ">Algeria</option>
                            <option value="AD">Andorra</option>
                            <option value="AO">Angola</option>
                            <option value="AG">Antigua and Barbuda</option>
                            <option value="AR">Argentina</option>
                            <option value="AM">Armenia</option>
                            <option value="AU">Australia</option>
                            <option value="AT">Austria</option>
                            <option value="AZ">Azerbaijan</option>
                            <option value="BS">Bahamas</option>
                            <option value="BH">Bahrain</option>
                            <option value="BD">Bangladesh</option>
                            <option value="BB">Barbados</option>
                            <option value="BY">Belarus</option>
                            <option value="BE">Belgium</option>
                            <option value="BZ">Belize</option>
                            <option value="BJ">Benin</option>
                            <option value="BT">Bhutan</option>
                            <option value="BO">Bolivia</option>
                            <option value="BA">Bosnia and Herzegovina</option>
                            <option value="BW">Botswana</option>
                            <option value="BR">Brazil</option>
                            <option value="BN">Brunei</option>
                            <option value="BG">Bulgaria</option>
                            <option value="BF">Burkina Faso</option>
                            <option value="BI">Burundi</option>
                            <option value="KH">Cambodia</option>
                            <option value="CM">Cameroon</option>
                            <option value="CA">Canada</option>
                            <option value="CV">Cape Verde</option>
                            <option value="CF">Central African Republic</option>
                            <option value="TD">Chad</option>
                            <option value="CL">Chile</option>
                            <option value="CN">China</option>
                            <option value="CO">Colombia</option>
                            <option value="KM">Comoros</option>
                            <option value="CG">Congo</option>
                            <option value="CR">Costa Rica</option>
                            <option value="HR">Croatia</option>
                            <option value="CU">Cuba</option>
                            <option value="CY">Cyprus</option>
                            <option value="CZ">Czech Republic</option>
                            <option value="DK">Denmark</option>
                            <option value="DJ">Djibouti</option>
                            <option value="DM">Dominica</option>
                            <option value="DO">Dominican Republic</option>
                            <option value="EC">Ecuador</option>
                            <option value="EG">Egypt</option>
                            <option value="SV">El Salvador</option>
                            <option value="GQ">Equatorial Guinea</option>
                            <option value="ER">Eritrea</option>
                            <option value="EE">Estonia</option>
                            <option value="ET">Ethiopia</option>
                            <option value="FJ">Fiji</option>
                            <option value="FI">Finland</option>
                            <option value="FR">France</option>
                            <option value="GA">Gabon</option>
                            <option value="GM">Gambia</option>
                            <option value="GE">Georgia</option>
                            <option value="DE">Germany</option>
                            <option value="GH">Ghana</option>
                            <option value="GR">Greece</option>
                            <option value="GT">Guatemala</option>
                            <option value="GN">Guinea</option>
                            <option value="HT">Haiti</option>
                            <option value="HN">Honduras</option>
                            <option value="HU">Hungary</option>
                            <option value="IS">Iceland</option>
                            <option value="IN">India</option>
                            <option value="ID">Indonesia</option>
                            <option value="IR">Iran</option>
                            <option value="IQ">Iraq</option>
                            <option value="IE">Ireland</option>
                            <option value="IL">Israel</option>
                            <option value="IT">Italy</option>
                            <option value="JM">Jamaica</option>
                            <option value="JP">Japan</option>
                            <option value="JO">Jordan</option>
                            <option value="KZ">Kazakhstan</option>
                            <option value="KE">Kenya</option>
                            <option value="KW">Kuwait</option>
                            <option value="LA">Laos</option>
                            <option value="LV">Latvia</option>
                            <option value="LB">Lebanon</option>
                            <option value="LY">Libya</option>
                            <option value="LT">Lithuania</option>
                            <option value="LU">Luxembourg</option>
                            <option value="MG">Madagascar</option>
                            <option value="MY">Malaysia</option>
                            <option value="MX">Mexico</option>
                            <option value="MA">Morocco</option>
                            <option value="NA">Namibia</option>
                            <option value="NP">Nepal</option>
                            <option value="NL">Netherlands</option>
                            <option value="NZ">New Zealand</option>
                            <option value="NI">Nicaragua</option>
                            <option value="NG">Nigeria</option>
                            <option value="KP">North Korea</option>
                            <option value="NO">Norway</option>
                            <option value="OM">Oman</option>
                            <option value="PK">Pakistan</option>
                            <option value="PA">Panama</option>
                            <option value="PY">Paraguay</option>
                            <option value="PE">Peru</option>
                            <option value="PH">Philippines</option>
                            <option value="PL">Poland</option>
                            <option value="PT">Portugal</option>
                            <option value="QA">Qatar</option>
                            <option value="RO">Romania</option>
                            <option value="RU">Russia</option>
                            <option value="SA">Saudi Arabia</option>
                            <option value="SG">Singapore</option>
                            <option value="ZA">South Africa</option>
                            <option value="KR">South Korea</option>
                            <option value="ES">Spain</option>
                            <option value="LK">Sri Lanka</option>
                            <option value="SE">Sweden</option>
                            <option value="CH">Switzerland</option>
                            <option value="TW">Taiwan</option>
                            <option value="TH">Thailand</option>
                            <option value="TN">Tunisia</option>
                            <option value="TR">Turkey</option>
                            <option value="UA">Ukraine</option>
                            <option value="AE">United Arab Emirates</option>
                            <option value="UK">United Kingdom</option>
                            <option value="USA">United States</option>
                            <option value="UY">Uruguay</option>
                            <option value="UZ">Uzbekistan</option>
                            <option value="VE">Venezuela</option>
                            <option value="VN">Vietnam</option>
                            <option value="YE">Yemen</option>
                            <option value="ZW">Zimbabwe</option>
                          </select>
                          <label class="form-label">Country</label>
                        </div>
                      </div>

                      <div class="d-flex flex-row align-items-center mb-2 input">
                        <i class="fas fa-briefcase fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <% if (selectedPlan === "Bundle Discounts") { %>
                            <label class="form-label">Select at least 2 services:</label>
                            <div id="serviceCheckboxes">
                              <label class="text-white"><input type="checkbox" name="serviceType" value="video-editing"> Video Editing</label><br>
                              <label class="text-white"><input type="checkbox" name="serviceType" value="3d-art"> 3D Art</label><br>
                              <label class="text-white"><input type="checkbox" name="serviceType" value="graphic-design"> Graphic Design</label><br>
                              <label class="text-white"><input type="checkbox" name="serviceType" value="web-dev"> Web Development</label><br>
                              <label class="text-white"><input type="checkbox" name="serviceType" value="digital-marketing"> Digital Marketing</label><br>
                            </div>
                          <% } else { %>
                            
                            
                                  <input type="text" name="serviceType" class="form-control bg-transparent text-white" value="<%= selectedService %>" readonly />
                                  <label class="form-label">Selected Service</label>
                               
                          <% } %>
                        </div>
                      </div>
  
                     

                    <div class="d-flex flex-row align-items-center mb-2 input">
                      <i class="fas fa-box fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" name="selectedPlan" class="form-control bg-transparent text-white" value="<%= selectedPlan %>" readonly />
                        <label class="form-label">Selected Package</label>
                      </div>
                    </div>
                    <div class="form-group mb-2 input">
                        <span class="form-label">Project Description</span>
                        <textarea class="form-control bg-transparent text-white" name="projectDescription" rows="4" required></textarea>
                      </div>
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button type="submit" class="form-button">Submit Selection</button>
                    </div>
                  </form>
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 order-1 order-lg-2">
                    <div class="row text-light">
                        <h1 class="fw-bold display-4">The Smartest Choice for Your Creative Needs</h1>
        <p class="lead">Partner with EditEdge to transform your ideas into stunning visuals, immersive designs, and seamless digital experiences—all crafted with precision and expertise.</p>
                
                        <div class="feature-list">
                            <div class="feature-item">
                                
                                <div>
                                    <h4 class="feature-title" style="color: #00FF7F;">Maximize Efficiency</h4>
                                    <p>Our seamless workflow ensures rapid turnaround times without compromising quality, keeping your business ahead of the competition.</p>
                                </div>
                            </div>
                
                            <div class="feature-item">
                               
                                <div>
                                    <h4 class="feature-title" style="color: #FF4D94;">All-in-One Creative Hub</h4>
                                    <p>From video editing to 3D art, web development, and graphic design—our integrated solutions eliminate the need for multiple vendors.</p>
                                </div>
                            </div>
                
                            <div class="feature-item">
                                
                                <div>
                                    <h4 class="feature-title" style="color: #007FFF;">Tailored to Your Vision</h4>
                                    <p>We customize every project to match your unique brand identity, ensuring your content stands out and resonates with your audience.</p>
                                </div>
                            </div>
                
                            <div class="feature-item">
                                
                                <div>
                                    <h4 class="feature-title" style="color: #d3d3d3;">Secure & Reliable</h4>
                                    <p>Your projects are safe with us. We employ advanced security measures to protect your files and intellectual property.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


